
.subfeddit-banner {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.posts-border {
    padding: 10px;
    background-color: grey;
    color: white;
    font-size: larger;
    font-weight: bold;
}

.posts-body {
    padding: 20px;
    background-color: lightgrey;
    color: black;
    font-size: larger;
    font-weight: bold;
}
